[workspace]
members = ["core", "emberware-z", "shared"]
exclude = ["examples/hello-world", "examples/triangle"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/emberware/emberware"
