[package]
name = "proc-sounds-viewer"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
libm = "0.2"
proc-gen-showcase-defs = { path = "../proc-gen-showcase-defs" }
